@import "../../../styles/vars.scss";

.containerMainCard {
  background-color: $tertiary-bg;
  display: grid;
  grid-template-columns: 70% 30%;
  padding: 20px;

  &--info {
    &__title {
      font-family: $font-large;
      color: black;
      font-weight: 800;
      font-size: 20px;
      text-transform: uppercase;
    }
    &__body {
      color: black;
      font-size: 15px;
      padding-bottom: 10px;
    }
    &__button {
      border: 2px solid black;
      background-color: transparent;
      font-family: $font-large;
      font-size: 15px;
      font-weight: 800;
      outline: none;
      cursor: pointer;
    }
  }

  &--img {
    margin-top: -20px;
    img {
      float: right;
      margin: -20px;
      width: calc(100% + 40px);
    }
  }
}
