@import "../../../styles/vars.scss";

.containerNewsCard {
  border-bottom: 2px solid $border;
  padding: 20px 0px;
  //   margin: 20px 0px;
  &--title {
    font-family: $font-large;
    color: black;
    font-size: 20px;
    font-weight: 800;
    line-height: 25px;
    margin-bottom: 10px;
  }
}
