@mixin imgHeader {
  display: flex;
  align-items: center;
  img {
    width: 100%;
    height: auto;
  }
}

.containerHeader {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: "left left left . center center center center . right right right";
  height: 100px;
  grid-gap: 20px;

  @media (max-width: 850px) {
    grid-template-areas: "center center center center center center center center center center center center";
    &--left {
      display: none !important;
    }
    &--right {
      display: none !important;
    }
    &--center {
      padding-top: 10px;
    }
  }

  &--left {
    height: inherit;
    grid-area: left;
    @include imgHeader();
  }

  &--center {
    height: inherit;
    grid-area: center;
    @include imgHeader();
  }

  &--right {
    height: inherit;
    grid-area: right;
    @include imgHeader();
  }
}
