@mixin imgHeader {
  display: flex;
  align-items: center;
  img {
    width: 100%;
    height: auto;
  }
}

.containerHeader {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: "left left left . center center center center . right right right";
  height: 100px;
  grid-gap: 20px;

  &--left {
    height: inherit;
    grid-area: left;
    @include imgHeader();
  }

  &--center {
    height: inherit;
    grid-area: center;
    @include imgHeader();
  }

  &--right {
    height: inherit;
    grid-area: right;
    @include imgHeader();
  }
}
